*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: Montserrat, sans-serif;
    color: #232323;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
}
li{
    list-style-type:none;
}
a{
    text-decoration: none;
    color: white;
}
img{
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
    border: 0;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    margin-bottom: 10px;
}


header{
    height: 100vh;
    
    background-image: linear-gradient(134deg, #5e72e4, #835fe4);
}
header nav{
   width: 92%;
   max-width: 1175px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav .menu-btn{
    display: none;
}
@media screen and (max-width: 991px){
    .menu-btn{
        display: block;
    }
}
nav ul{
    display: flex;
   
    align-items: center;
    padding:.5rem 1rem;
    justify-content: space-between;
}

.link{
    margin-right: 19px;
    margin-left: 19px;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 14px;
    line-height: 19px;
}
.btn{
    padding:10px 20px;
    border-radius: 5px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .29);
    border: 0;
    text-transform: uppercase;
    background-color: #fff;
    color: #5e72e4;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
}
/* hero section */
.landing-intro{
    z-index: 2;
    width: 100%;
    position: relative;
    padding-top: 140px;
    padding-bottom: 140px;
    display: flex;
    background-image: linear-gradient(134deg, #5e72e4, #835fe4);
    justify-content: center;
    align-items: center;
    height: auto;
}
.landing-intro .right{

text-align: center;
}
.right img{
    width: 100%;
}
.landing-intro .left{
    width:41%;
    color:white;
}
.left .taglink{
    padding:3px 11px 3px 4px;
    border-radius: 50px;
    background-color: rgba(40, 20, 131, .2);
    color:white;
    font-size: 14px;
    line-height: 22px;

}
.h1-hero{
    color:#fff;
    font-size: 35px;
    line-height: 47px;
    margin-top: 20px;
}
.h2-hero{
    margin-top: 20px;
    margin-bottom: 25px;
    font-size: 18px;
    line-height: 32px;
    font-weight: 400;
}
.hero-btn{
   background-color: #11cdef;
   color: white;
}
main{
    background-color: #f7f7f7;
}

.clients{
    position: relative;
    display: flex;
    min-height: 120px;
    padding: 20px;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    border-radius: 6px;
    background-color: #fff;
    box-shadow: 0 6px 15px 0 rgba(0, 0, 0, .09);
    margin-right: 50px;
    margin-left: 50px;
    z-index: 3;
    /* background-color: #f7f7f7; */
    /* transform: translate(0px, -50px); */
    transform: translate(0px, -50px);
    
}

section.free{
    /* background-color: #f7f7f7; */
    height: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-right: 3rem;
    padding-left: 3rem;
    background-color: #f7f7f7;
}
.free .ebook-details{
    width: 46%;
}
.ebook-details h2{
    color: #b4a5ff;
    font-size: 25px;
    line-height: 34px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: bold;
}
.ebook-details h3{
    margin-top: 0px;
    color: #281483;
    font-size: 40px;
    line-height: 55px;
}
.ebook-details p{
    font-size: 20px;
    line-height: 30px;
    font-family: 'Open Sans', sans-serif;
    color: #5b5b5b;
}
.ebook-details .free-form{
    display: flex;
    padding-top: 40px;
    justify-content: space-between;
    font-size: 20px;
    line-height: 30px;
}
.free-form .email-field{
    height: 50px;
    margin-right: 10px;
    margin-bottom: 0px;
    border: 1px solid #cad1d7;
    border-radius: 5px;
    display: block;
    width:100%;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 1.4;
    color: #333;
   
    background-color: white;
}
.free-form .form-btn{
    background-color: #5e72e4;
    padding:10px 20px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .29);
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    color: white;
    border: 0;
    cursor: pointer;
    border-radius: 5px;
}
section.features{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
}
.features .feature-title{
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 50px;
    text-align: center;
    max-width: 960px;
    margin-top: 0;
    color: #281483;
    font-size: 40px;
    line-height: 55px;
}
.feature-box{
    position: relative;
    display: flex;
    padding-top: 70px;
    padding-bottom: 70px;
    justify-content: space-between;
    align-items: center;
    color: #6f6f6f;
    font-size: 20px;
    line-height: 30px;
   width:80%;
}
.reverse{
    flex-direction: row-reverse;
}
.feature-box .left{
    padding-left: 3%;
    width: 40%;
}
.feature-box .left h4{
    padding-left: 5px;
    color: #b4a5ff;
    font-size: 20px;
    line-height: 28px;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
}
.feature-box .left h3{
    margin-top: 0px;
    margin-bottom: 20px;
    color: #281483;
    font-size: 28px;
    line-height: 38px;
}
.feature-box .left p{
    color: #6f6f6f;
    font-size: 20px;
    line-height: 30px;
    font-family: 'Open Sans',sans-serif;
}
.blue-box{
    margin-right: 45px;
    margin-left: 45px;
    position: relative;
    display: flex;
    margin-top: 45px;
    margin-bottom: 45px;
    padding: 45px 61px;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    background-color: #5e72e4;
    background-image: linear-gradient(147deg, #5e72e4, #835fe4 99%);
    box-shadow: 0 6px 15px 0 rgba(0, 0, 0, .17), 0 -15px 35px 0 rgba(50, 50, 93, .1);
    color: #fff;
    font-size: 28px;
    line-height: 38px;
    font-weight: 700;
}
.blue-box h3{
    padding-right: 90px;
    flex: 1;
}
section.users{
    position: relative;
    background-color: #fff;
   
    padding-bottom: 100px;
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.users h3{
    width:100%;
    padding-bottom:50px;
    margin-top: 50px;
    color: #281483;
    font-size: 40px;
    line-height: 55px;
    text-align: center;
}
.users .image-blocks{
    position: relative;
    width: 92%;
    display: flex;
    flex-wrap: wrap;
   
   
    min-height: 120px;
    padding:20px;
    justify-content: space-around;
    align-items: center;
    border-radius: 6px;
    background-color: #fff;
}
.image-blocks img{
    width:15%;
    padding:10px;
    text-align: center;
    flex:0 auto;
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
}
.testimonial{
    display: block;
    width:100%;
    max-width: 960px;
    margin-right: auto;
    margin-left:auto;
    padding-top: 70px;
    text-align: center;
}
.testimonial .quote{
    padding:20px 35px;
    background-image: url("https://uploads-ssl.webflow.com/5a4b34cef6b9a40001c324ac/5c481711edcab534dfe33741_Quote%202.svg"), url("https://uploads-ssl.webflow.com/5a4b34cef6b9a40001c324ac/5c4816f84aa6f8d54e54ba96_Quote%201.svg");
    background-position: 100% 100%, 0px 0px;
    background-size: auto, auto;
    background-repeat: no-repeat,no-repeat;
    color: #3d3d3d;
    font-size: 30px;
    line-height: 50px;
    font-style: italic;
    text-align: center;
}
.testimonial-author{
    display: flex;
    padding-top: 30px;
    flex-direction: column;
    align-items: center;
    color: #414141;
    font-size: 30px;
    line-height: 41px;
}
.testimonial-author img:nth-child(1){
    width: 120px;
    height: 120px;
    margin-bottom: 30px;
    border-radius: 50%;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .4);
}
.testimonial .author-logo{
    max-width: 50%;
    margin-top: 20px;
}
.callto-action{
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #5e72e4;
    color:#fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}
.callto-action h3{
    color: #fff;
    margin-top: 0;
    font-size: 40px;
    line-height: 55px;
    margin-bottom: 10px;
    width: 100%;
    padding-left: 3rem;
    padding-right: 3rem;
    width: 68%;
   
    padding-bottom: 50px;
    text-align: center;
}
.callto-action a.btn{
    font-size: 16px;
    padding:20px 36px;
}
footer{
    padding-top: 55px;
    padding-bottom: 55px;
    background-color: #1c1d26;
    color: #fff;
    font-size: 14px;
    line-height: 22px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer .footer-top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.footer-top .left{
    display: flex;
    padding-right: 4%;
    padding-bottom: 20px;
    align-items: center;
    flex: 1;

}
.footer-top .left .logo{
    margin-right: 40px;
    max-width: 100%;
    display: inline-block;
}